<div class="content container">
    <h3>Customer Dashboard</h3>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h4>
                        Active <span class="fw-semi-bold">Quotes</span>
                    </h4>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th>Picture</th>
                            <th>Description</th>
                            <th class="hidden-xs">Info</th>
                            <th class="hidden-xs">Date</th>
                            <th class="hidden-xs">Size</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="hidden-xs">1</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/1.jpg" alt="" height="50">
                            </td>
                            <td>
                                Palo Alto
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 200x150</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                45.6 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-success" data-width="29%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">2</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/2.jpg" alt="" height="50">
                            </td>
                            <td>
                                The Sky
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; PSD</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 2400x1455</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                November 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                15.3 MB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-warning" data-width="33%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">3</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/3.jpg" alt="" height="50">
                            </td>
                            <td>
                                Down the road
                                <br>
                                <span class="label label-danger">INFO!</span>
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 200x150</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                49.0 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-gray" data-width="38%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">4</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/4.jpg" alt="" height="50">
                            </td>
                            <td>
                                The Edge
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; PNG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 210x160</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 15, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                69.1 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-danger" data-width="17%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">5</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/11.jpg" alt="" height="50">
                            </td>
                            <td>
                                Fortress
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 1452x1320</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                October 1, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                2.3 MB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar" data-width="41%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm">
                                Send to ...
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    &nbsp; Clear &nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Clear</a></li>
                                    <li><a href="#">Move ...</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>Basic table with styled content</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h4>
                        Open <span class="fw-semi-bold">Purchase Orders</span>
                    </h4>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th>Picture</th>
                            <th>Description</th>
                            <th class="hidden-xs">Info</th>
                            <th class="hidden-xs">Date</th>
                            <th class="hidden-xs">Size</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="hidden-xs">1</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/1.jpg" alt="" height="50">
                            </td>
                            <td>
                                Palo Alto
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 200x150</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                45.6 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-success" data-width="29%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">2</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/2.jpg" alt="" height="50">
                            </td>
                            <td>
                                The Sky
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; PSD</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 2400x1455</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                November 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                15.3 MB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-warning" data-width="33%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">3</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/3.jpg" alt="" height="50">
                            </td>
                            <td>
                                Down the road
                                <br>
                                <span class="label label-danger">INFO!</span>
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 200x150</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                49.0 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-gray" data-width="38%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">4</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/4.jpg" alt="" height="50">
                            </td>
                            <td>
                                The Edge
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; PNG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 210x160</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 15, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                69.1 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-danger" data-width="17%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">5</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/11.jpg" alt="" height="50">
                            </td>
                            <td>
                                Fortress
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 1452x1320</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                October 1, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                2.3 MB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar" data-width="41%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm">
                                Send to ...
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    &nbsp; Clear &nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Clear</a></li>
                                    <li><a href="#">Move ...</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>Basic table with styled content</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h4>
                        <span class="fw-semi-bold">Order History</span>
                    </h4>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th>Picture</th>
                            <th>Description</th>
                            <th class="hidden-xs">Info</th>
                            <th class="hidden-xs">Date</th>
                            <th class="hidden-xs">Size</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="hidden-xs">1</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/1.jpg" alt="" height="50">
                            </td>
                            <td>
                                Palo Alto
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 200x150</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                45.6 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-success" data-width="29%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">2</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/2.jpg" alt="" height="50">
                            </td>
                            <td>
                                The Sky
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; PSD</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 2400x1455</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                November 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                15.3 MB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-warning" data-width="33%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">3</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/3.jpg" alt="" height="50">
                            </td>
                            <td>
                                Down the road
                                <br>
                                <span class="label label-danger">INFO!</span>
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 200x150</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 14, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                49.0 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-gray" data-width="38%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">4</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/4.jpg" alt="" height="50">
                            </td>
                            <td>
                                The Edge
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; PNG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 210x160</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                September 15, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                69.1 KB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-danger" data-width="17%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">5</td>
                            <td>
                                <img class="img-rounded" src="img/jpeg/11.jpg" alt="" height="50">
                            </td>
                            <td>
                                Fortress
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; JPEG</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Dimensions:</span>
                                        <span class="text-muted">&nbsp; 1452x1320</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                October 1, 2012
                            </td>
                            <td class="hidden-xs text-muted">
                                2.3 MB
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar" data-width="41%" style="width: 0;"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm">
                                Send to ...
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    &nbsp; Clear &nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Clear</a></li>
                                    <li><a href="#">Move ...</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>Basic table with styled content</p>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>