<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="">
            <a href="/app/"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="">
            <a href="/app/active-quotes/"><i class="fa fa-pencil"></i> <span class="name">Active Quotes</span></a>
        </li>
        <li class="">
            <a href="/app/open-purchase-orders/"><i class="fa fa-home"></i> <span class="name">Open Purchase Orders</span></a>
        </li>
        <li class="">
            <a href="/app/order-history/"><i class="fa fa-home"></i> <span class="name">Order History</span></a>
        </li>
{{!--        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="/grid_basic.html#forms-collapse" aria-expanded="false"><i class="fa fa-pencil"></i> <span class="name">Sample Accordion</span></a>
            <ul id="forms-collapse" class="panel-collapse collapse " aria-expanded="false">
                <li class=""><a href="#">Account</a></li>
                <li class=""><a href="#">Article</a></li>
                <li class=""><a href="#">Elements</a></li>
                <li class=""><a href="#">Validation</a></li>
                <li class=""><a href="#">Wizard</a></li>
            </ul>
        </li> --}}
    </ul>

    <h5 class="sidebar-nav-title">Labels <a class="action-link" href="/grid_basic.html#"><i class="glyphicon glyphicon-plus"></i></a></h5>
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    <ul class="sidebar-labels">
        <li>
            <a href="#">
                <!-- yep, .circle again -->
                <i class="fa fa-circle text-warning"></i>
                <span class="label-name">My Recent</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-gray"></i>
                <span class="label-name">Starred</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-danger"></i>
                <span class="label-name">Background</span>
            </a>
        </li>
    </ul>
</nav>
<!-- end sidebar -->

<!-- scripts -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-pjax/jquery.pjax.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/js/theme.js"></script>


<script>
    $(document).ready(function() {
        // Keeps current submenu expanded
        var targetElement = 'a[href="' + window.location.pathname + '"]';
        var $item = $(targetElement).parent().parent();
        if ($item.hasClass('submenu')){
            $item.parent().addClass("active");
            $item.show();
        }
    });
</script>