<style>
    .single-widget-container {
        left: 0;
        top: 50%;
        margin-top: -192.5px;
        position: absolute;
        width: 100%;
    }
    .single-widget-container .widget {
        margin: 0 auto;
    }
    .login-widget, .registration-widget {
        width: 350px;
        padding-bottom: 0;
    }
    .widget {
        border-radius: 3px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        padding: 12px 17px;
        color: #f8f8f8;
        background: rgba(77, 77, 77, 0.74);
        margin-bottom: 30px;
        position: relative;
    }
    .widget>header {
        position: relative;
        background: none;
        color: #fff;
    }
    .text-align-center {
        text-align: center;
    }
    .widget .body {
        margin-top: 10px;
    }
    .contact i.fa{
        font-size: 30px;
        color: #fd6533;
        height: 30px;
        display: block;
    }
    input{
        height:20px;
    }
    label{
        font-size: 15px;
    }
</style>

<div class="banner_section bg1" style="background: rgba(0, 0, 0, 0) url('/img/banner_2.jpg') no-repeat 50% 20% / cover; height:300px;">
</div>
<div class="l2_second_section full-width contact" style="padding-top:0px; padding-bottom: 400px;">
    <div class="container">
        <div class="container_1 clearfix page_content" style="padding: 50px 0;">
            <div class="single-widget-container">
                <section class="widget login-widget">
                    <header class="text-align-center">
                        <h4>Thank You</h4>
                    </header>
                    <div class="body">
                        <div>
                            <span>Please check your email for password reset instructions.</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{stringifyJson results}}
<div class="l2_second_section">
    <div class="container">
    </div>
</div>



<!-- scripts -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>

<script src="/lib/zxcvbn/zxcvbn.js"></script>


<!-- pre load bg imgs -->
<script type="text/javascript">
    $(function () {
        // bg switcher
        var $btns = $(".bg-switch .bg");
        $btns.click(function (e) {
            e.preventDefault();
            $btns.removeClass("active");
            $(this).addClass("active");
            var bg = $(this).data("img");

            $("html").css("background-image", "url('img/bgs/" + bg + "')");
        });
    });

    $('#update-email').submit(function(){
        let email = $('#email').val();
        if (zxcvbn(email).score < 2) {
            console.log("This is the email " + JSON.stringify(zxcvbn(email).score));
            $('#email-error-message').html("Please increase the strength of your email");
            return false;
        } else {
            return true;
        }
    })


</script>
