<div class="content container">
    <h3>Admin Dashboard</h3>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h4>
                        Current Customers <span class="fw-semi-bold"></span>
                    </h4>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th>Name</th>
                            <th class="hidden-xs">Email</th>
                            <th class="hidden-xs">Current Contract</th>
                            <th class="hidden-xs">Previous Quotes</th>
                            <th class="hidden-xs">Current Value</th>
                            <th>Send Updated Quote</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="hidden-xs">1</td>
                            <td>
                                John Best
                            </td>
                            <td>
                                threeputted@yahoo.com
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; Royalty</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Expiration:</span>
                                        <span class="text-muted">&nbsp; 12/31/2019</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Basin:</span>
                                        <span class="text-muted">&nbsp; Marcellus</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Volumes:</span>
                                        <span class="text-muted">&nbsp; 15/d</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                <div>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Date Sent:</span>
                                            <span class="text-muted">&nbsp; 9/15/2018</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Volumes:</span>
                                            <span class="text-muted">&nbsp; 15/d</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Value:</span>
                                            <span class="text-muted">&nbsp; $30,000</span>
                                        </small>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Date Sent:</span>
                                            <span class="text-muted">&nbsp; 7/15/2018</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Volumes:</span>
                                            <span class="text-muted">&nbsp; 15/d</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Value:</span>
                                            <span class="text-muted">&nbsp; $25,000</span>
                                        </small>
                                    </p>
                                </div>
                            </td>
                            <td class="hidden-xs text-muted">
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Volumes:</span>
                                        <span class="text-muted">&nbsp; 15/d</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Value:</span>
                                        <span class="text-muted">&nbsp; $35,000</span>
                                    </small>
                                </p>
                            </td>
                            <td class="width-150">
                                <button class="submit btn-primary">Send!</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs">1</td>
                            <td>
                                Customer 2
                            </td>
                            <td>
                                someEmail@yahoo.com
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Type:</span>
                                        <span class="text-muted">&nbsp; Royalty</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Expiration:</span>
                                        <span class="text-muted">&nbsp; 12/31/2019</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Basin:</span>
                                        <span class="text-muted">&nbsp; Marcellus</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Volumes:</span>
                                        <span class="text-muted">&nbsp; 15/d</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                <div>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Date Sent:</span>
                                            <span class="text-muted">&nbsp; 9/15/2018</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Volumes:</span>
                                            <span class="text-muted">&nbsp; 15/d</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Value:</span>
                                            <span class="text-muted">&nbsp; $30,000</span>
                                        </small>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Date Sent:</span>
                                            <span class="text-muted">&nbsp; 7/15/2018</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Volumes:</span>
                                            <span class="text-muted">&nbsp; 15/d</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Value:</span>
                                            <span class="text-muted">&nbsp; $25,000</span>
                                        </small>
                                    </p>
                                </div>
                            </td>
                            <td class="hidden-xs text-muted">
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Volumes:</span>
                                        <span class="text-muted">&nbsp; 15/d</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Value:</span>
                                        <span class="text-muted">&nbsp; $35,000</span>
                                    </small>
                                </p>
                            </td>
                            <td class="width-150">
                                <button class="submit btn-primary">Send!</button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm">
                                Send to ...
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    &nbsp; Clear &nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Clear</a></li>
                                    <li><a href="#">Move ...</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>