<!--
<footer>
    <div class="container">
        <ul class="footer_1 clearfix">
            <li class="logo_1">

                <a href="/"><img src="/img/logo_1.png" alt="img"></a>
                <div class="copy"><p> © Black Lake Security | All Rights Reserved <br> <a href="/files/Terms_of_Use_2016.05.06.pdf" target="_blank">Terms of Use</a> | <a href="/files/Privacy_Policy_2016.05.06.pdf" target="_blank">Privacy Policy</a></p></div>
            </li>
            <li class="menu">
                <ul class="clearfix">
                    <li style="height: 165px;">
                        <a href="/services/">Services</a>
                    </li>
                    <li style="height: 165px;">
                        <a href="/#">Industries</a>
                        <ul><div class="menu-footer_menu2-container"><ul id="menu-footer_menu2" class="menu"><li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="/energy/">Energy</a></li>
                            <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="/education/">Education</a></li>
                            <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="/retail/">Retail</a></li>
                            <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="/financial/">Financial</a></li>
                            <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="/healthcare/">Healthcare</a></li>
                        </ul></div></ul>						</li>
                    <li style="height: 165px;">
                        <a href="/#">Technologies</a>
                        <ul><div class="menu-footer_menu3-container"><ul id="menu-footer_menu3" class="menu"><li id="menu-item-3364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3364"><a href="/partners/">Partners</a></li>
                            <li id="menu-item-3363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3363"><a href="/become-a-partner/">Become a Partner</a></li>
                            <li id="menu-item-3365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3365"><a href="/everything-else/">Everything Else</a></li>
                        </ul></div></ul>						</li>
                    <li style="height: 165px;">
                        <a href="/#">Company</a>
                        <ul><div class="menu-footer_menu4-container"><ul id="menu-footer_menu4" class="menu"><li id="menu-item-3360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3360"><a href="/about/">Overview</a></li>
                            <li id="menu-item-3358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3358"><a href="/leadership/">Leadership</a></li>
                            <li id="menu-item-3359" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3359"><a target="_blank" href="http://www.indeed.com/cmp/Blacklake-Security?from=vjcmpinfo&amp;fromjk=67f780e8fc8553a5&amp;attributionid=vjcmpinfo">Careers</a></li>
                            <li id="menu-item-3361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3361"><a href="/blog/">Clarity Now</a></li>
                            <li id="menu-item-3354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3354"><a href="/company/engagement/">Engagement</a></li>
                            <li id="menu-item-3353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3353"><a href="/company/confident-self-awareness/">Confident Self-Awareness</a></li>
                            <li id="menu-item-3355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3355"><a href="/company/total-focus/">Total Focus</a></li>
                            <li id="menu-item-3356" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3356"><a href="/company/transparency/">Transparency</a></li>
                        </ul></div></ul>
                    </li>
                    <li style="height: 165px;">
                        <ul>
                            <li>Toll Free: <a href="tel:1-855-885-7675">1-855-885-7675</a><br>Local Fax: 512-828-7080</li>
                            <li>6500 River Place Blvd<br>Building 7, Suite 250<br>Austin, Texas 78730</li>
                            <li><a href="mailto:info@blacklakesecurity.com">info@blacklakesecurity.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="social">
                <ul>
                    <li><a href="http://twitter.com/BlackLakeSec" target="_blank"><img src="/img/icon5.png" alt="img"></a></li>
                    <li><a href="http://www.linkedin.com/company/10631870?trk=prof-exp-company-name" target="_blank"><img src="/img/icon6.png" alt="img"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
-->
