<header>
    <div class="container clearfix">
        <div class="logo">
            <a href="/"><img src="/img/arc-logo.png" alt="img" style="max-height: 75px;"></a>
        </div>
        <div class="right_menu clearfix">
            <nav>
                <a id="nav-toggle" href="/#"><span></span></a>
                <ul class="menu clearfix">
                    <!--
                                        <li id="menu-item-3381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3381"><a href="/services/">Services</a></li>
                                        <li id="menu-item-122" class="ml1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-122"> <span class="plus"></span><a href="/#">Industries</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="/energy/">Energy</a></li>
                                                <li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="/education/">Education</a></li>
                                                <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="/retail/">Retail</a></li>
                                                <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="/financial/">Financial</a></li>
                                                <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="/healthcare/">Healthcare</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-5331" class="ml1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5331"> <span class="plus"></span><a href="/#">Technologies</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-5334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5334"><a href="/partners/">Partners</a></li>
                                                <li id="menu-item-5333" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5333"><a href="/become-a-partner/">Become a Partner</a></li>
                                                <li id="menu-item-5332" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5332"><a href="/everything-else/">Everything Else</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-362" class="ml1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-362"> <span class="plus"></span><a href="/#">Company</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="/about/">Overview</a></li>
                                                <li id="menu-item-379" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379"><a href="/leadership/">Leadership</a></li>
                                                <li id="menu-item-365" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-365"><a target="_blank" href="http://www.indeed.com/cmp/Blacklake-Security?from=vjcmpinfo&amp;fromjk=67f780e8fc8553a5&amp;attributionid=vjcmpinfo">Careers</a></li>
                                                <li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="/blog/">Clarity Now</a></li>
                                                <li id="menu-item-3236" class="ml1 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3236"> <span class="plus"></span><a href="/#">Clarity Examined</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-3241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3241"><a href="/company/engagement/">Engagement</a></li>
                                                        <li id="menu-item-3244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3244"><a href="/company/confident-self-awareness/">Confident Self-Awareness</a></li>
                                                        <li id="menu-item-3250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3250"><a href="/company/total-focus/">Total Focus</a></li>
                                                        <li id="menu-item-3253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3253"><a href="/company/transparency/">Transparency</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                    -->
                    <li id="menu-item-3366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3366"><a href="/contact/">Contact</a></li>
                    <li id="menu-item-3366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3366"><a href="/login">Login</a></li>
                </ul>
            </nav>
<!--
            <ul class="social_section clearfix">
                <li>
                    <a href="http://twitter.com/blacklakesec" target="_blank">
                        <img src="/img/icon1_inner-1.png" alt="img">
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/company/10631870?trk=prof-exp-company-name" target="_blank">
                        <img src="/img/icon2_inner-1.png" alt="img">
                    </a>
                </li>
                <li style="background: url('/img/SOS-Shield-v1.png') no-repeat 15px 0;">
                    <a href="/contact/">
                        <img src="/img/SOS-Shield-v1.png" alt="img">
                    </a>
                </li>
            </ul>
-->
        </div>
    </div>
</header>