
<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage"  >
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1">
    <!-- This is Squarespace. --><!-- jason-gray-mbty -->
    <base href="">
    <meta charset="utf-8" />
    <title>Arc Rock Capital</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/58b99ba259cc68a233638336/t/58bd9b8303596ebcd8a67417/favicon.ico"/>
    <link rel="canonical" href="https://appalachianroyaltycompany.com/"/>
    <meta property="og:site_name" content="Arc Rock Capital"/>
    <meta property="og:title" content="Arc Rock Capital"/>
    <meta property="og:url" content="https://appalachianroyaltycompany.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="&amp;nbsp;  &amp;nbsp;  Strategic Management of Your Family’s Royalty Assets  &amp;nbsp;  &amp;nbsp;  &amp;nbsp;"/>
    <meta property="og:image" content="http://static1.squarespace.com/static/58b99ba259cc68a233638336/t/58bd9b9abe6594678d03c15d/1488821146694/Flavicon.png?format=1500w"/>
    <meta property="og:image:width" content="306"/>
    <meta property="og:image:height" content="250"/>
    <meta itemprop="name" content="Arc Rock Capital"/>
    <meta itemprop="url" content="https://appalachianroyaltycompany.com/"/>
    <meta itemprop="description" content="&amp;nbsp;  &amp;nbsp;  Strategic Management of Your Family’s Royalty Assets  &amp;nbsp;  &amp;nbsp;  &amp;nbsp;"/>
    <meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/58b99ba259cc68a233638336/t/58bd9b9abe6594678d03c15d/1488821146694/Flavicon.png?format=1500w"/>
    <link rel="image_src" href="http://static1.squarespace.com/static/58b99ba259cc68a233638336/t/58bd9b9abe6594678d03c15d/1488821146694/Flavicon.png?format=1500w" />
    <meta itemprop="image" content="http://static1.squarespace.com/static/58b99ba259cc68a233638336/t/58bd9b9abe6594678d03c15d/1488821146694/Flavicon.png?format=1500w"/>
    <meta name="twitter:title" content="Arc Rock Capital"/>
    <meta name="twitter:image" content="http://static1.squarespace.com/static/58b99ba259cc68a233638336/t/58bd9b9abe6594678d03c15d/1488821146694/Flavicon.png?format=1500w"/>
    <meta name="twitter:url" content="https://appalachianroyaltycompany.com/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="&amp;nbsp;  &amp;nbsp;  Strategic Management of Your Family’s Royalty Assets  &amp;nbsp;  &amp;nbsp;  &amp;nbsp;"/>
    <meta name="description" content="" />
    <script type="text/javascript" src="//use.typekit.net/ik/JJPdaNgFeRKkpSNt6rEhU26aq8NhWKNrPLDTXarSVEGfezq2fFHN4UJLFRbh52jhWD9tjRqojcIkFQ8RjDjtjQJDwDjD52wDFy7zMPG0-cBDdhtlZa4ypPulj1soO1FUiABkZWF3jAF8OcFzdPUySYgydeBR-e8yd14zpABCiY8Rdhu3jAooOcFzdPU7jWFzdKu1ScBoOAuKiYq0SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUaiaS0jWg3jAUyjhyTjAokda8ydYsojhNlSeB0pPoRdhXCiaiaOcTyShN0OAikjWqldA4XpPoDSWmyScmDSeBRZPoRdhXK2hZcOAizdhblihmKOWgkdkJYjhBCdYm0jPJwjAuKScNTSh9lSasqJ68zdAo8Sku3ScvKfcizdhblie8lZWw7fbKxsgMMeMj6MKG4fO8IIMMjgkMfH6qJ3IbbMg6bJMJ7fbKEsgMMegI6MKG4fwXVIMIjgfMfH6qJD3vbMs6YJMJ7fbR52UMgeMt6MKG4fFMVIMIjIPMfH6qJ0MtbMy62JMJ7fbKo2yMfeMb6MKG4fOJrIMwjgfMfH6qJl2tbMU6YJMJ7fbKDVyM2eMt6MKG4fO9rIMwjIPMfH6qJu3Jbgg62JMJ7fbRdMyMIeMb6MKG4fFXfIMbjgkMfH6qJhMJbgg6FJMJ7fbRLMyMIeMq6MKG4fFtfIMbjIPMfqMe880xSgb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
    <script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-1bdbb3cd16ed571230c3-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
    <script crossorigin="anonymous" src="//static.squarespace.com/universal/scripts-compressed/common-1bdbb3cd16ed571230c3-min.en-US.js" ></script><script crossorigin="anonymous" src="//static.squarespace.com/universal/scripts-compressed/performance-b0783f46a27e55af6b90-min.en-US.js" defer ></script><script data-name="static-context">Static = window.Static || {}; Static.SQUARESPACE_CONTEXT = {"facebookAppId":"314192535267336","rollups":{"squarespace-announcement-bar":{"css":"//static.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/announcement-bar-dcdaf7748688d3d43b5c-min.en-US.js"},"squarespace-audio-player":{"css":"//static.squarespace.com/universal/styles-compressed/audio-player-a57b8f3aa31918104f57a068648fbc63-min.css","js":"//static.squarespace.com/universal/scripts-compressed/audio-player-0e6a50416c3db1afaadc-min.en-US.js"},"squarespace-blog-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/blog-collection-list-b8595d94fd8561b24114-min.en-US.js"},"squarespace-calendar-block-renderer":{"css":"//static.squarespace.com/universal/styles-compressed/calendar-block-renderer-9acef2d24c6a994fca1a8a82e99e19c3-min.css","js":"//static.squarespace.com/universal/scripts-compressed/calendar-block-renderer-940febca8a521388c668-min.en-US.js"},"squarespace-chartjs-helpers":{"css":"//static.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/chartjs-helpers-210777e6563857763213-min.en-US.js"},"squarespace-comments":{"css":"//static.squarespace.com/universal/styles-compressed/comments-a7b26c9ae88684f76d210b61d0b0d848-min.css","js":"//static.squarespace.com/universal/scripts-compressed/comments-89c6c6632fd87c1e42ae-min.en-US.js"},"squarespace-commerce-cart":{"js":"//static.squarespace.com/universal/scripts-compressed/commerce-cart-42c1abc3ce028db2fbb1-min.en-US.js"},"squarespace-commerce-checkout-v2_5":{"js":"//static.squarespace.com/universal/scripts-compressed/commerce-checkout-v2_5-22dd779c1edc62478e93-min.en-US.js"},"squarespace-dialog":{"css":"//static.squarespace.com/universal/styles-compressed/dialog-7ba230f290b5d21d9871eb06db23b5c9-min.css","js":"//static.squarespace.com/universal/scripts-compressed/dialog-1e3cfb105a000538269e-min.en-US.js"},"squarespace-events-collection":{"css":"//static.squarespace.com/universal/styles-compressed/events-collection-9acef2d24c6a994fca1a8a82e99e19c3-min.css","js":"//static.squarespace.com/universal/scripts-compressed/events-collection-d521c6626a2954458b37-min.en-US.js"},"squarespace-form-rendering-utils":{"js":"//static.squarespace.com/universal/scripts-compressed/form-rendering-utils-af6dcc37a263b90d9234-min.en-US.js"},"squarespace-forms":{"css":"//static.squarespace.com/universal/styles-compressed/forms-ac7917c174031c937e3df4b3a2005b34-min.css","js":"//static.squarespace.com/universal/scripts-compressed/forms-acbcc776eacf08df58c9-min.en-US.js"},"squarespace-gallery-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/gallery-collection-list-509cec2fd244d28811a4-min.en-US.js"},"squarespace-image-zoom":{"css":"//static.squarespace.com/universal/styles-compressed/image-zoom-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/image-zoom-70717d1e39fce5e9e67e-min.en-US.js"},"squarespace-pinterest":{"css":"//static.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/pinterest-1d9de0b93f06d0f4e271-min.en-US.js"},"squarespace-popup-overlay":{"css":"//static.squarespace.com/universal/styles-compressed/popup-overlay-7b48efeab9b323dfdb524a256cf61595-min.css","js":"//static.squarespace.com/universal/scripts-compressed/popup-overlay-5a67fd84aa6a33e2d6ef-min.en-US.js"},"squarespace-product-quick-view":{"css":"//static.squarespace.com/universal/styles-compressed/product-quick-view-bc8694b75a40e4bd969b662b80ebafb5-min.css","js":"//static.squarespace.com/universal/scripts-compressed/product-quick-view-cc9a52fdd7f090b0fb12-min.en-US.js"},"squarespace-products-collection-item-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-item-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-item-v2-3e1879ebea2ee6ad76e2-min.en-US.js"},"squarespace-products-collection-list-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-list-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-list-v2-427c80a844b297e7de2d-min.en-US.js"},"squarespace-search-page":{"css":"//static.squarespace.com/universal/styles-compressed/search-page-ea3e98edb84abbc5e758884f69149027-min.css","js":"//static.squarespace.com/universal/scripts-compressed/search-page-8fac1c1f176b7ac45b72-min.en-US.js"},"squarespace-search-preview":{"js":"//static.squarespace.com/universal/scripts-compressed/search-preview-6a8fa853b569138df022-min.en-US.js"},"squarespace-share-buttons":{"js":"//static.squarespace.com/universal/scripts-compressed/share-buttons-e314a7c035648b49fa68-min.en-US.js"},"squarespace-simple-liking":{"css":"//static.squarespace.com/universal/styles-compressed/simple-liking-310d0b18e112f708f91339b11fd55714-min.css","js":"//static.squarespace.com/universal/scripts-compressed/simple-liking-420a76f79e0874dd57f4-min.en-US.js"},"squarespace-social-buttons":{"css":"//static.squarespace.com/universal/styles-compressed/social-buttons-26106f808f7e9c739a7f862a408ed039-min.css","js":"//static.squarespace.com/universal/scripts-compressed/social-buttons-4ecdec83eeea71f4c100-min.en-US.js"},"squarespace-tourdates":{"css":"//static.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/tourdates-bca413caef4a676125c4-min.en-US.js"},"squarespace-website-overlays-manager":{"css":"//static.squarespace.com/universal/styles-compressed/website-overlays-manager-df9cddfe3eca22764d10fd6fc4f4ad73-min.css","js":"//static.squarespace.com/universal/scripts-compressed/website-overlays-manager-707fa8d12721b3328cf1-min.en-US.js"}},"pageType":1,"website":{"id":"58b99ba259cc68a233638336","identifier":"jason-gray-mbty","websiteType":1,"contentModifiedOn":1545064070442,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"America/Chicago","machineTimeZoneOffset":-21600000,"timeZoneOffset":-21600000,"timeZoneAbbr":"CST","siteTitle":"Arc Rock Capital","fullSiteTitle":"Arc Rock Capital","siteTagLine":"","siteDescription":"","location":{"addressTitle":"Arc Rock Capital","addressLine1":"","addressLine2":"Houston, TX 77024","addressCountry":"USA"},"logoImageId":"5b8580e540ec9aca18ffa93c","socialLogoImageId":"58bd9b9abe6594678d03c15d","shareButtonOptions":{"2":true,"7":true,"1":true,"3":true,"5":true,"4":true,"6":true,"8":true},"logoImageUrl":"//static1.squarespace.com/static/58b99ba259cc68a233638336/t/5b8580e540ec9aca18ffa93c/1545064070442/","socialLogoImageUrl":"//static1.squarespace.com/static/58b99ba259cc68a233638336/t/58bd9b9abe6594678d03c15d/1545064070442/","authenticUrl":"https://appalachianroyaltycompany.com","internalUrl":"https://jason-gray-mbty.squarespace.com","baseUrl":"https://appalachianroyaltycompany.com","primaryDomain":"appalachianroyaltycompany.com","sslSetting":3,"isHstsEnabled":false,"socialAccounts":[{"serviceId":4,"userId":"2347210494","userName":"HLCreative04","screenname":"HL Creative","addedOn":1494424396171,"profileUrl":"https://twitter.com/ArcRockCap","iconUrl":"http://pbs.twimg.com/profile_images/435116480250650625/FMliZCgw_normal.png","collectionId":"59131b4c8419c2f4172868e1","iconEnabled":true,"serviceName":"twitter"}],"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false,"screenshotId":"3da1719788f6c50ad8daa46b04629e86b47dea611da0c38ab601283da117ae5f","showOwnerLogin":false},"websiteSettings":{"id":"58b99ba259cc68a233638338","websiteId":"58b99ba259cc68a233638336","subjects":[],"country":"US","state":"TX","simpleLikingEnabled":true,"mobileInfoBarSettings":{"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","commentsEnabled":false,"contactPhoneNumber":"(281) 390-9386","storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"paymentSettings":{},"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"multipleQuantityAllowedForServices":true,"currenciesSupported":["CHF","HKD","MXN","EUR","DKK","USD","CAD","MYR","NOK","THB","AUD","SGD","ILS","PLN","GBP","CZK","SEK","NZD","PHP","RUB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"enableMailingListOptInByDefault":false,"businessName":"Arc Rock Capital","sameAsRetailLocation":false,"isLive":false},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":true},"cookieSettings":{"isCookieBannerEnabled":false,"isRestrictiveCookiePolicyEnabled":false,"isRestrictiveCookiePolicyAbsolute":false,"cookieBannerText":"","cookieBannerTheme":"","cookieBannerVariant":"","cookieBannerPosition":"","cookieBannerCtaVariant":"","cookieBannerCtaText":""},"websiteCloneable":false,"collection":{"title":"Home","id":"58bd9e74e6f2e1592cbae2ae","fullUrl":"/","type":1},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"tweak-blog-list-columns":"4","tweak-blog-list-item-image-aspect-ratio-grid":"1:1 Square","tweak-blog-list-item-image-aspect-ratio-stacked":"16:9 Widescreen","tweak-blog-list-item-image-show":"true","tweak-blog-list-spacing":"60px","tweak-blog-list-style":"Stacked","tweak-cart-link-display":"Hide","tweak-display-social-icons":"true","tweak-full-width-first-landscape":"true","tweak-gallery-gutter":"2","tweak-gallery-image-caption-indicator-position":"Bottom Left","tweak-gallery-style":"Horizontal","tweak-gallery-title-position":"Top Center","tweak-header-element-spacing":"2","tweak-header-outer-padding":"3","tweak-hide-index-desc-on-hover":"false","tweak-index-desc-position":"Middle","tweak-index-inactive-on-load":"true","tweak-index-menu-desc-spacing":"1","tweak-index-menu-padding":"3","tweak-index-nav-position":"Center","tweak-index-slideshow-animation":"false","tweak-index-slideshow-delay":"2","tweak-index-slideshow-on":"false","tweak-index-slideshow-touch-on":"true","tweak-nav-position":"Right","tweak-nav-style":"Standard","tweak-page-title-position":"Top Center","tweak-product-item-image-zoom-factor":"2.5","tweak-product-list-item-hover-behavior":"Show Alternate Image","tweak-product-list-items-per-row":"3","tweak-show-gallery-image-captions":"On Hover","tweak-show-gallery-title-overlay":"Not in Index","tweak-show-index-desc":"true","tweak-show-page-title-overlay":"Always","tweak-site-ajax-loading-enable":"true","tweak-site-outer-padding":"0","tweak-social-icons-on-right":"true","tweak-user-account-link-position":"With Nav"},"templateId":"56d9c12107eaa07660adbcad","pageFeatures":[1,2,4],"googleMapsStaticApiKey":"AIzaSyBQdch5IcgcQaKNG76sbMQv1MEBEKLeQ-8","impersonatedSession":false,"isFacebookTab":false,"tzData":{"zones":[[-360,"US","C%sT",null]],"rules":{"US":[[1967,2006,null,"Oct","lastSun","2:00","0","S"],[1987,2006,null,"Apr","Sun>=1","2:00","1:00","D"],[2007,"max",null,"Mar","Sun>=8","2:00","1:00","D"],[2007,"max",null,"Nov","Sun>=1","2:00","0","S"]]}}};</script><script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script><link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://appalachianroyaltycompany.com/home?format=RSS" />
    <script type="application/ld+json">{"url":"https://appalachianroyaltycompany.com","name":"Arc Rock Capital","description":"","image":"//static1.squarespace.com/static/58b99ba259cc68a233638336/t/5b8580e540ec9aca18ffa93c/1545064070442/","@context":"http://schema.org","@type":"WebSite"}</script><script type="application/ld+json">{"legalName":"Arc Rock Capital","address":"Houston, TX 77024\nUSA","email":"jason@arcrcokcapital.com","telephone":"(281) 390-9386","@context":"http://schema.org","@type":"Organization"}</script><!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&part=4"/><![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&noMedia=true&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&noMedia=true&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&noMedia=true&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false&noMedia=true&part=4"/><![endif]-->
    <!--[if !IE]> --><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/58b99ba259cc68a233638336/57/56d9c12107eaa07660adbcad/58bd99a2b8a79bbdc68b0182/343-05142015/1545064070431/site.css?&filterFeatures=false"/><!-- <![endif]-->
    <script>Static.COOKIE_BANNER_CAPABLE = true;</script>
    <!-- End of Squarespace Headers -->
</head>
<style>
    p {
        white-space: pre-wrap;
        line-height: 30px !important;
    }
</style>
<body id="collection-58bd9e74e6f2e1592cbae2ae" class='tweak-social-icons-style-regular tweak-social-icons-shape-square tweak-site-ajax-loading-enable tweak-display-social-icons tweak-social-icons-on-right tweak-cart-link-display-hide tweak-cart-icon-style-cart tweak-cart-icon-weight-medium tweak-cart-icon-size-medium tweak-user-account-link-position-with-nav tweak-user-account-icon-weight-medium tweak-user-account-icon-size-medium tweak-show-footer  tweak-nav-style-standard tweak-nav-position-right tweak-menu-icon-weight-light tweak-menu-icon-size-medium tweak-nav-link-style-none tweak-mobile-nav-alignment-center tweak-mobile-nav-always-show-tagline tweak-show-page-title-overlay-always  tweak-page-title-overlay-blend-mode-normal tweak-page-title-position-top-center    tweak-show-page-banner-image-not-in-index   tweak-index-overlay-blend-mode-normal  tweak-index-slideshow-touch-on  tweak-index-inactive-on-load tweak-index-nav-position-center tweak-index-nav-layout-stacked tweak-index-menu-link-style-underline-on-hover tweak-show-index-desc tweak-index-desc-position-middle  tweak-gallery-style-horizontal tweak-full-width-first-landscape tweak-show-gallery-title-overlay-not-in-index  tweak-gallery-overlay-blend-mode-normal tweak-gallery-title-position-top-center tweak-show-gallery-title tweak-show-gallery-desc   tweak-show-gallery-image-captions-on-hover tweak-gallery-image-caption-indicator-position-bottom-left tweak-gallery-image-captions-position-center  tweak-gallery-captions-overlay-blend-mode-normal  tweak-blog-meta-primary-author tweak-blog-meta-secondary-date tweak-blog-list-style-stacked  tweak-blog-list-alignment-center tweak-blog-list-item-image-show tweak-blog-list-item-image-aspect-ratio-grid-11-square tweak-blog-list-item-image-aspect-ratio-stacked-169-widescreen tweak-blog-list-item-title-show tweak-blog-list-item-excerpt-show tweak-blog-list-item-body-show tweak-blog-list-item-readmore-inline tweak-blog-list-item-meta-position-below-content tweak-blog-list-pagination-link-label-show tweak-blog-list-pagination-link-icon-show tweak-blog-list-pagination-link-icon-weight-light tweak-blog-item-alignment-center tweak-blog-item-meta-position-below-title tweak-blog-item-share-position-below-content  tweak-blog-item-pagination-link-label-show  tweak-blog-item-pagination-link-meta-category tweak-blog-item-pagination-link-icon-weight-light   event-thumbnails event-thumbnail-size-11-square event-date-label  event-list-show-cats event-list-date event-list-time event-list-address event-list-icalgcal-links event-list-like-and-share-buttons   event-excerpts event-list-cta-button event-item-back-link    tweak-product-list-image-aspect-ratio-11-square tweak-product-list-item-hover-behavior-show-alternate-image tweak-product-list-meta-position-under tweak-product-list-mobile-meta-position-under tweak-product-list-meta-alignment-under-center tweak-product-list-meta-alignment-overlay-center-center tweak-product-list-show-title tweak-product-list-show-price tweak-product-list-filter-display-top tweak-product-list-filter-alignment-center tweak-product-item-nav-show-breadcrumb-and-pagination tweak-product-item-nav-pagination-style-previousnext tweak-product-item-nav-breadcrumb-alignment-left tweak-product-item-nav-pagination-alignment-split tweak-product-item-gallery-position-left tweak-product-item-gallery-design-slideshow tweak-product-item-gallery-aspect-ratio-11-square tweak-product-item-gallery-thumbnail-alignment-left tweak-product-item-details-alignment-center tweak-product-item-details-show-title tweak-product-item-details-show-price tweak-product-item-details-show-excerpt tweak-product-item-details-excerpt-position-below-add-to-cart-button tweak-product-item-details-show-share-buttons tweak-product-item-details-show-variants tweak-product-item-details-show-quantity tweak-product-item-details-options-style-rounded tweak-product-item-details-show-add-to-cart-button tweak-product-item-details-add-to-cart-button-style-outline tweak-product-item-details-add-to-cart-button-shape-rounded tweak-product-item-details-add-to-cart-button-padding-small tweak-product-item-image-zoom-enabled tweak-product-item-image-zoom-behavior-click tweak-product-item-lightbox-enabled tweak-product-badge-style-circle tweak-product-badge-position-top-right tweak-product-badge-inset-floating newsletter-style-dark  opentable-style-dark small-button-style-solid small-button-shape-rounded medium-button-style-outline medium-button-shape-rounded large-button-style-outline large-button-shape-rounded image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-center image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left  image-block-stack-text-alignment-left button-style-solid button-corner-style-rounded tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light tweak-share-buttons-style-icon-only tweak-share-buttons-icons-show    tweak-share-buttons-standard-background-color native-currency-code-usd collection-58bd9e74e6f2e1592cbae2ae collection-type-index collection-layout-default homepage view-list mobile-style-available has-main-image' data-controller="MainContentPositioning, MercuryLoader">
<div class="mercury-transition-wrapper">
    <div class="content-outer-wrapper" data-controller="HeaderOverflow, NavToggle, HeaderScroll, OverlayNavOverflow, SocialIconFadein, SetActiveNavLink">
        <div class="overlay-nav-wrapper">
            <div class="overlay-nav-inner-wrapper">
                <nav class="main-navigation--overlay">
                    <div class="nav-item index active homepage" id="id-58bd9e74e6f2e1592cbae2ae">
                        <a href="/">
                            <span>Home</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-5c17ce56758d463b971ed3cf">
                        <a href="/advanced-royalty-payment/">
                            <span>ARP</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-5ab1af356d2a7361c43a36fe">
                        <a href="/mission-statement/">
                            <span>Mission</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-5ab26263562fa7b5a3512691">
                        <a href="/q-a/">
                            <span>FAQ</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-58be1d8be58c6278e8aa8ea1">
                        <a href="/contact/">
                            <span>Contact</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-58be1d8be58c6278e8aa8ea1">
                        <a href="/login">
                            <span>Login</span>
                        </a>
                    </div>
                </nav>

                <div class="header-social-icons--overlay">
                    <nav class="sqs-template-social-icons sqs-svg-icon--list" data-content-field="connected-accounts" data-annotation-alignment="bottom">

                        <nav class="SocialLinks" data-content-field="connected-accounts">
                            <div class="SocialLinks-inner">
                                <a href="https://twitter.com/ArcRockCap" target="_blank" class="SocialLinks-link twitter" style="">
                                    <div>
                                        <svg class="SocialLinks-link-svg" viewBox="0 0 64 64">

                                            <use class="SocialLinks-link-icon" xlink:href="#twitter-icon"></use>
                                            <use class="SocialLinks-link-mask" xlink:href="#twitter-mask"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </nav>

                    </nav>
                </div>

            </div>
        </div>
        <header id="siteHeader" class="site-header">
            <div class="site-branding" data-content-field="site-title">

                <h1 class="image">
                    <a href="/">

                        <img src="//static1.squarespace.com/static/58b99ba259cc68a233638336/t/5b8580e540ec9aca18ffa93c/1545064070442/?format=original" alt="Arc Rock Capital" />

                    </a>
                </h1>


            </div>

            <a class="nav-toggle flex-item" id="navToggle">
                <div>
                    <svg class="Icon Icon--hamburger nav-toggle-label-icon" viewBox="0 0 24 18">
                        <g class="svg-icon use--even">
                            <line fill="none" stroke-miterlimit="10" x1="0" y1="2" x2="24" y2="2"/>
                            <line fill="none" stroke-miterlimit="10" x1="0" y1="9" x2="24" y2="9"/>
                            <line fill="none" stroke-miterlimit="10" x1="0" y1="16" x2="24" y2="16"/>
                        </g>
                        <g class="svg-icon use--odd">
                            <line fill="none" stroke-miterlimit="10" x1="0" y1="1.5" x2="24" y2="1.5"/>
                            <line fill="none" stroke-miterlimit="10" x1="0" y1="8.5" x2="24" y2="8.5"/>
                            <line fill="none" stroke-miterlimit="10" x1="0" y1="15.5" x2="24" y2="15.5"/>
                        </g>
                    </svg>
                    <svg class="Icon Icon--close nav-toggle-label-icon" viewBox="0 0 18 18">
                        <g class="svg-icon">
                            <line fill="none" stroke-miterlimit="10" stroke-linecap="butt" x1="0" y1="0" x2="18" y2="18"/>
                            <line fill="none" stroke-miterlimit="10" stroke-linecap="butt" x1="18" y1="0" x2="0" y2="18"/>
                        </g>
                    </svg>
                </div>
            </a>

            <div class="nav-social-wrapper" data-content-field="navigation" data-annotation-alignment="bottom">
                <nav id="mainNavigation" class='main-navigation  has-items'>
                    <div class="nav-item index active homepage" id="id-58bd9e74e6f2e1592cbae2ae">
                        <a href="/">
                            <span>Home</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-5c17ce56758d463b971ed3cf">
                        <a href="/advanced-royalty-payment/">
                            <span>ARP</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-5ab1af356d2a7361c43a36fe">
                        <a href="/mission-statement/">
                            <span>Mission</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-5ab26263562fa7b5a3512691">
                        <a href="/q-a/">
                            <span>FAQ</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-58be1d8be58c6278e8aa8ea1">
                        <a href="/contact/">
                            <span>Contact</span>
                        </a>
                    </div>
                    <div class="nav-item collection" id="id-58be1d8be58c6278e8aa8ea1">
                        <a href="/login">
                            <span>Login</span>
                        </a>
                    </div>
                </nav>
                <div class="header-social-icons-with-nav">
                    <nav class="sqs-template-social-icons sqs-svg-icon--list">
                        <nav class="SocialLinks" data-content-field="connected-accounts">
                            <div class="SocialLinks-inner">
                                <a href="https://twitter.com/ArcRockCap" target="_blank" class="SocialLinks-link twitter" style="">
                                    <div>
                                        <svg class="SocialLinks-link-svg" viewBox="0 0 64 64">

                                            <use class="SocialLinks-link-icon" xlink:href="#twitter-icon"></use>
                                            <use class="SocialLinks-link-mask" xlink:href="#twitter-mask"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </nav>
                    </nav>
                </div>
            </div>
            <div class="header-social-icons-right">
                <nav class="sqs-template-social-icons sqs-svg-icon--list">
                    <nav class="SocialLinks" data-content-field="connected-accounts">
                        <div class="SocialLinks-inner">
                            <a href="https://twitter.com/ArcRockCap" target="_blank" class="SocialLinks-link twitter" style="">
                                <div>
                                    <svg class="SocialLinks-link-svg" viewBox="0 0 64 64">

                                        <use class="SocialLinks-link-icon" xlink:href="#twitter-icon"></use>
                                        <use class="SocialLinks-link-mask" xlink:href="#twitter-mask"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </nav>
                </nav>
            </div>
        </header>
        <div id="mainContent" class="main-content" role="main">
            <div class="main-content-inner-wrapper" data-content-field="main-content">
                <div class="index-gallery-wrapper" data-controller="IndexSetup, IndexPositioning, IndexNavOverflow, IndexGallery">
                    <div class="collection-images">
                        <div class="image-container content-fill index-main-image" >
                            <img data-src="https://static1.squarespace.com/static/58b99ba259cc68a233638336/t/5b85a1ad352f534b5f81ef1d/1535640920989/" data-image="https://static1.squarespace.com/static/58b99ba259cc68a233638336/t/5b85a1ad352f534b5f81ef1d/1535640920989/" data-image-dimensions="2119x1415" data-image-focal-point="0.5,0.5" alt=""  data-load="false" />
                        </div>
                        <div class="image-container no-main-image-bg" data-url-id="services"></div>
                        <div class="overlay blended-overlay index-overlay"></div>
                    </div>
                    <div class="collection-nav-desc-wrapper">
                        <nav class="index-navigation collection-nav" role="navigation">
                            <div class="collection-nav-item" data-url-id="services">
                                <a href="/services/" class="services">
                                    <span class="collection-nav-item-span">Advanced Royalty Payment</span>
                                </a>
                            </div>
                        </nav>
                        <div id="collectionDesc" class="collection-desc">
                            <p style="white-space: pre-wrap;">&nbsp;</p><p style="white-space: pre-wrap;">&nbsp;</p><p style="white-space: pre-wrap;">Strategic Management of Your Family’s Royalty Assets</p><p style="white-space: pre-wrap;">&nbsp;</p><p style="white-space: pre-wrap;">&nbsp;</p><p style="white-space: pre-wrap;">&nbsp;</p>
                        </div>
                        <nav class="index-navigation collection-nav" role="navigation">
                            <div class="collection-nav-item" data-url-id="get-quote">
                                <a href="/get-quote/" class="services">
                                    <span class="collection-nav-item-span">Get a Quote Instantly!</span>
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="row">
                        <h4> testing header</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-nav">

</div>

<script src="https://static1.squarespace.com/static/ta/56d9c0fe40261d18462df72d/343/scripts/site-bundle.js" type="text/javascript"></script>

<script type="text/javascript" data-sqs-type="imageloader-bootstrapper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script><svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none"><symbol id="twitter-icon" viewBox="0 0 64 64"><path d="M48,22.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6 C41.7,19.8,40,19,38.2,19c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5c-5.5-0.3-10.3-2.9-13.5-6.9c-0.6,1-0.9,2.1-0.9,3.3 c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1c2.9,1.9,6.4,2.9,10.1,2.9c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C46,24.5,47.1,23.4,48,22.1z"/></symbol><symbol id="twitter-mask" viewBox="0 0 64 64"><path d="M0,0v64h64V0H0z M44.7,25.5c0,0.3,0,0.6,0,0.8C44.7,35,38.1,45,26.1,45c-3.7,0-7.2-1.1-10.1-2.9 c0.5,0.1,1,0.1,1.6,0.1c3.1,0,5.9-1,8.2-2.8c-2.9-0.1-5.3-2-6.1-4.6c0.4,0.1,0.8,0.1,1.2,0.1c0.6,0,1.2-0.1,1.7-0.2 c-3-0.6-5.3-3.3-5.3-6.4c0,0,0-0.1,0-0.1c0.9,0.5,1.9,0.8,3,0.8c-1.8-1.2-2.9-3.2-2.9-5.5c0-1.2,0.3-2.3,0.9-3.3 c3.2,4,8.1,6.6,13.5,6.9c-0.1-0.5-0.2-1-0.2-1.5c0-3.6,2.9-6.6,6.6-6.6c1.9,0,3.6,0.8,4.8,2.1c1.5-0.3,2.9-0.8,4.2-1.6 c-0.5,1.5-1.5,2.8-2.9,3.6c1.3-0.2,2.6-0.5,3.8-1C47.1,23.4,46,24.5,44.7,25.5z"/></symbol></svg>
</body>
</html>
